<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">弊社Webサイト</h3>
  </div>
  <div id="monami_links" class="list-group">
    <a class="list-group-item" href="http://www.monami-ya.jp/">合同会社もなみ屋(公式)</a>
    <a class="list-group-item" href="http://builder.monami-ya.com:8080/">公開ビルドサーバ</a>
  </div>
</section>
<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">パートナーOSSプロジェクト</h3>
  </div>
  <div id="monami_links" class="list-group">
    <a class="list-group-item" href="http://conservadroid-c.monami-ya.jp:8081/">Conservadroid</a>
    <a class="list-group-item" href="http://mrb.monami-ya.jp/">monami-ya.mrb</a>
    <a class="list-group-item" href="http://www.pizzafactory.jp/">PizzaFactory</a>
  </div>
</section>
